body {
  margin: none;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#input-el {
  width: 100%; /* 100% + 10px + 10px -> padding-left and padding-right adds 20 px */

  border: 2px solid rgb(107, 142, 2);
  /* border-box allows an element's padding and border to be included with its total width 
  and height */
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

#input-btn {
  background-color: rgb(107, 142, 2);
  font-weight: bolder;
  color: white;
  border: none;
  padding: 10px 20px; /* 10px for top/bottom, 20px for left/right */
}
